


// Links
$primary-link-color: #bf8d43;
$primary-hover-color: blue;

// Backgrounds
$primary-background-grey: #191919;
$secondary-background-grey: #212121;

// Sizing


// Typography
$paragraph-light: #d0d0d0;
